.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

a[rel='ar'] {
   display: inline-flex;
   margin: 5px;
   text-decoration: none;
}
.btn-link-ar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 32px;
   height: 32px;
   color: #499fb6;
   border: 1px solid #d9e7e9;
   border-radius: 3px;
   font-weight: 700;
}
